<mt:include module="設定" />
<mt:setvarblock name="page_description">PowerCMS X Q&Aのタグ「<mt:tagname />」の一覧です。</mt:setvarblock>
<mt:setvarblock name="page_title">#<mt:tagname />の一覧</mt:setvarblock>
<mt:includeblock module="基本レイアウト">
  <main>
    <section>
      <h1><mt:var name="page_title" escape /></h1>
      <div><mt:entriescount />件</div>
      <mt:entries cols="title,excerpt" sort_by="published_on" sort_order="descend">
        <mt:if name="__first__">
          <ul class="list-qa">
        </mt:if>
        <li>
          <a href="<mt:entrypermalink relative escape />"><mt:entrytitle escape /></a>
          <p class="excerpt"><mt:entryexcerpt escape /></p>
        </li>
        <mt:if name="__last__"></ul></mt:if>
      </mt:entries>
    </section>
  </main>
</mt:includeblock>