<mt:include module="設定" />
<mt:setvar name="is_site_home" value="1" />
<mt:var name="site_description" setvar="page_description" />
<mt:includeblock module="基本レイアウト">
  <main>
    <section>
      <h2>最近のQ&amp;A</h2>
      <mt:entries sort_by="published_on" sort_order="descend" limit="5">
        <mt:if name="__first__"><ul></mt:if>
        <li><time datetime="<mt:entrypublishedon format_ts="Y-m-d" />"><mt:entrypublishedon format_ts="Y年n月j日" /></time> <a href="<mt:entrypermalink relative escape />"><mt:entrytitle escape /></a></li>
        <mt:if name="__last__"></ul></mt:if>
      </mt:entries>
      <ul>
        <li><a href="/article/index.html">記事一覧ページ</a></li>
        <li><a href="/article/index.rdf">RSS</a></li>
      </ul>
    </section>
    <section>
      <h2>タグ一覧</h2>
      <mt:tags>
        <mt:if name="__first__"><ul class="tags"></mt:if>
        <mt:if tag="entriescount"><li><a href="/article/tags/<mt:tagbasename encode_url />/">#<mt:tagname escape /></a></li></mt:if>
        <mt:if name="__last__"></ul></mt:if>
      </mt:tags>
    </section>
    <search>
      <form method="get" action="/search/mroonga.html">
        <h2>サイト内検索</h2>
        <input type="hidden" name="_filter" value="entry">
        <div>
          <label>キーワード <input type="search" name="keyword"></label>
          <button type="submit">検索</button>
        </div>
      </form>
    </search>
  </main>
</mt:includeblock>