@charset "UTF-8";

.sitename {
  font-size: 1.5em;
}

.tags {
  display: flex;
  flex-wrap: wrap;
  gap: 0 1em;
  padding-inline-start: 0;
  list-style: none;
}

.tags li {
  text-align: left;
}

@media screen and (min-width: 50em) {
  article h1 {
    font-size: 1.75em;
  }
}

@media screen and (min-width: 80em) {
  body {
    font-size: 1.125em;
  }
}
