@charset "UTF-8";

.sitename {
  font-size: 1.5em;
}

.tags {
  display: flex;
  flex-wrap: wrap;
  gap: 0 1em;
  padding-inline-start: 0;
  list-style: none;
}

.tags li {
  text-align: left;
}

.snippets {
  font-size: 0.875em;
}

.snippets div {
  display: inline;
}

.snippets div:not(:first-child) {
  margin-inline-start: 1em;
}

.snippets mark {
  background:linear-gradient(transparent 60%, #ff6 75%);
  font-weight: bold;
}

#similar_entries {
  display: none;
}

@media screen and (min-width: 50em) {
  article h1 {
    font-size: 1.75em;
  }
}

@media screen and (min-width: 80em) {
  body {
    font-size: 1.125em;
  }
}
