<mt:include module="設定" />
<mt:setvarblock name="page_description">PowerCMS X Q&Aの検索結果一覧です。</mt:setvarblock>
<mt:setvarblock name="page_title"><mt:if name="request.keyword">「<mt:var name="request.keyword" />」での</mt:if>Q&A検索結果</mt:setvarblock>
<mt:includeblock module="基本レイアウト">
  <main>
    <section>
      <h1><mt:var name="page_title" escape /></h1>
      <mt:entries>
        <mt:if name="__first__">
          <p><a href="https://mroonga.org/ja/">Mroonga</a>の検索スコア順に結果を表示します。</p>
          <ul>
        </mt:if>
        <li>
          <a href="<mt:entrypermalink relative escape />"><mt:entrytitle escape /></a>
          <mt:if name="mroonga_snippet">
            <mt:setvarblock name="snippet_search_cond">/\n?\s*<span[^>]+>([^<]+)<\/span>/u</mt:setvarblock>
            <mt:setvarblock name="snippet_replace"><mark>$1</mark></mt:setvarblock>
            <mt:var name="mroonga_snippet" regex_replace="'/\n/u',''" setvar="_mroonga_snippet" />
            <mt:var name="_mroonga_snippet" regex_replace="'$snippet_search_cond','$snippet_replace'" setvar="_mroonga_snippet" />
            <div class="snippets"><mt:var name="_mroonga_snippet" /></div>
          </mt:if>
        </li>
        <mt:if name="__last__"></ul></mt:if>
      <mt:else>
        <mt:if name="request.keyword">
          <p>キーワード「<mt:var name="request.keyword" escape />」にマッチするQ&amp;Aが見つかりませんでした。</p>
        <mt:else>
          <p>キーワードを入力して検索してください。</p>
        </mt:if>
      </mt:entries>
      <mt:if name="request.keyword"><mt:ifcookie name="pt-ignore-analytics"><mt:else><mt:accesstracking /></mt:ifcookie></mt:if>
      <form method="get" action="/search/mroonga.html">
        <input type="hidden" name="_filter" value="entry">
        <div>
          <label>キーワード <input type="search" name="keyword" value="<mt:var name="request.keyword" escape />"></label>
          <button type="submit">検索</button>
        </div>
      </form>
    </section>
  </main>
</mt:includeblock>